.wrapper {
  background: #000;
  color: #fff;
  /* padding: 100px 40px; */
  position: relative;
  overflow: hidden;
}

.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

/* LEFT CONTENT */

.left {
  flex: 1;
  max-width: 600px;
}

.left h5 {
  font-size: 13px;
  font-weight: 600;
  color: #7ac143;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.left p {
  font-size: 16px;
  line-height: 1.8;
  color: #d9d9d9;
  margin-bottom: 18px;
}

/* RIGHT IMAGE */

.right {
  flex: 1;
  position: relative;
  min-height: 420px;
  border-radius: 500px 0 0 500px;
  overflow: hidden;
  max-width: 40%;
}

.image {
  object-fit: cover;
  border-radius: 500px 0 0 500px;
}

/* ---------------- Tablet ---------------- */

@media (max-width: 1024px) {
  .wrapper {
    padding: 80px 32px;
  }

  .container {
    gap: 40px;
  }

  .right {
    min-height: 340px;
  }
}

/* ---------------- Mobile ---------------- */

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .left {
    max-width: 100%;
  }

  .right {
    width: 100%;
    min-height: 280px;
    border-radius: 20px;
  }

  .image {
    border-radius: 20px;
  }
}

/* ---------------- Small Mobile ---------------- */

@media (max-width: 480px) {
  .wrapper {
    padding: 70px 24px;
  }

  .left p {
    font-size: 14px;
  }

  .right {
    min-height: 240px;
  }
}
